{{!-- 
    Card with rotate on-click function.
    This card rotates after the user clicks anywhere on the div below the image.

    Must include the following script on the bottom of every page
    where this card is used:
    <script type="text/javascript">
               $().ready(function(){
                    $('[rel="tooltip"]').tooltip();

                });

                function rotateCard(btn){
                    var $card = $(btn).closest('.card-container');
                    console.log($card);
                    if($card.hasClass('hover')){
                        $card.removeClass('hover');
                    } else {
                        $card.addClass('hover');
                    }
                }
         </script>

    Credits: https://bootsnipp.com/snippets/AXnRg
--}}

<div class="card-container manual-flip">
    <div class="card">
        <div class="front">
            <div class="cover-large">
                <a class="mdi mdi-heart mdi-36px text-white float-right" href="">3K</a>
                <img src="{{ bg }}"/>
            </div>
            <a onclick="rotateCard(this)">
                <div class="content-small">
                    <div class="main">
                        <h3>Sample Item</h3>
                        <p>Sample location</p>
                    </div>
                    <div class="footer">
                        {{!--
                        <button class="btn btn-link" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> Manual Rotation
                        </button>
                        --}}
                    </div>
                </div>
            </a>
        </div> <!-- end front panel -->
        <a onclick="rotateCard(this)">
            <div class="back">
                <div class="header">
                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                </div>
                <div class="content">
                    <div class="main">
                        <h4 class="text-center">Job Description</h4>
                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                        <div class="stats-container">
                            <div class="stats">
                                <h4>235</h4>
                                <p>Followers</p>
                            </div>
                            <div class="stats">
                                <h4>114</h4>
                                <p>Following</p>
                            </div>
                            <div class="stats">
                                <h4>35</h4>
                                <p>Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="social-links text-center">
                        <a href="http://deepak646.blogspot.in/" class="facebook"><i class="mdi mdi-facebook"></i></a>
                        <a href="http://deepak646.blogspot.in/" class="google"><i class="mdi mdi-google-plus"></i></a>
                        <a href="http://deepak646.blogspot.in/" class="twitter"><i class="mdi mdi-twitter fa-fw"></i></a>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </a>
    </div> <!-- end card -->
</div> <!-- end card-container -->