{{!-- 
    Card with rotate on-click function.
    This card rotates after the user clicks anywhere on the div below the image.

    Must include the following script on the bottom of every page
    where this card is used:
    <script type="text/javascript">
               $().ready(function(){
                    $('[rel="tooltip"]').tooltip();

                });

                function rotateCard(btn){
                    var $card = $(btn).closest('.card-container');
                    console.log($card);
                    if($card.hasClass('hover')){
                        $card.removeClass('hover');
                    } else {
                        $card.addClass('hover');
                    }
                }
         </script>

    Credits: https://bootsnipp.com/snippets/AXnRg
--}}

<div class="card-container manual-flip">
    <div class="card">
        <div class="front">
            <div class="cover-large">
                <a class="mdi mdi-heart-outline mdi-36px text-danger float-right" href=""></a>
                <img src="{{ bg }}"/>
            </div>
            <a onclick="rotateCard(this)">
                <div class="content-small p-3">
                    <div class="main">
                        <h3>Sample Item</h3>
                        <p>Sample location</p>
                    </div>
                </div>
                <div class="footer"></div>
            </a>
        </div> <!-- end front panel -->
        <a onclick="rotateCard(this)">
            <div class="back">
                <div class="content">
                    <div class="main">
                        <h4 class="text-center">Main title goes here</h4>
                        <p class="text-center">General description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu iaculis nisl. Aliquam hendrerit tellus quis turpis placerat, ac pulvinar ipsum bibendum.</p>

                        <div class="stats-container">
                            <div class="stats">
                                <h4>18</h4>
                                <p>Views</p>
                            </div>
                            <div class="stats">
                                <h4>2</h4>
                                <p>Proposals</p>
                            </div>
                            <div class="stats">
                                <h4>6</h4>
                                <p>Interest</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="social-links text-center">
                        <a href="http://deepak646.blogspot.in/" class="facebook"><i class="mdi mdi-facebook"></i></a>
                        <a href="http://deepak646.blogspot.in/" class="google"><i class="mdi mdi-google-plus"></i></a>
                        <a href="http://deepak646.blogspot.in/" class="twitter"><i class="mdi mdi-twitter fa-fw"></i></a>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </a>
    </div> <!-- end card -->
</div> <!-- end card-container -->