<div class="container">
    <h2>Dismissable alert</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {{> _alert alert-primary="Primary" }}
        </div>
        <div class="col-lg-4">
            {{> _alert alert-secondary="Secondary" }}
        </div>
        <div class="col-lg-4">
            {{> _alert alert-success="Success" }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{> _alert alert-info="Info" }}
        </div>
        <div class="col-lg-4">
            {{> _alert alert-warning="Warning" }}
        </div>
        <div class="col-lg-4">
            {{> _alert alert-danger="Danger" }}
        </div>
    </div>
</div>
<div class="container">
    <h2>Badges</h2>
</div>
<div class="container">
    {{> _badge badge-primary="Primary" }}
    {{> _badge badge-secondary="Secondary" }}
    {{> _badge badge-success="Success" }}
    {{> _badge badge-info="Info" }}
    {{> _badge badge-warning="Warning" }}
    {{> _badge badge-danger="Danger" }}
    {{> _badge badge-light="Light" }}
    {{> _badge badge-dark="Dark" }}
</div>
<div class="container">
    {{> _badge-pill badge-primary="Primary" }}
    {{> _badge-pill badge-secondary="Secondary" }}
    {{> _badge-pill badge-success="Success" }}
    {{> _badge-pill badge-info="Info" }}
    {{> _badge-pill badge-warning="Warning" }}
    {{> _badge-pill badge-danger="Danger" }}
    {{> _badge-pill badge-light="Light" }}
    {{> _badge-pill badge-dark="Dark" }}
</div>
