<div class="container mt-5">
    <h1>1.Navbars</h1>
    <h4>1.1 Navbar with centered logo (non-collapsible).</h4>
</div>

<div class="container mt-5">
    {{> _navbar-logo-dark src="img/logo.svg" }}
</div>

<div class="container mt-5">
    {{> _navbar-logo-light src="img/logo.svg" }}
</div>

<div class="container mt-5">
    <h4>1.2 Navbar with left aligned logo right aligned login, register (non-collapsible).</h4>
</div>

<div class="container mt-5">
    {{> _navbar-logo-link-dark src="img/logo.svg" login="#" register="#" }}
</div>

<div class="container mt-5">
    {{> _navbar-logo-link-light src="img/logo.svg" login="#" register="#" }}
</div>

<div class="container mt-5">
    <h4>1.3 Navbar with left aligned logo right aligned dropdown (non-collapsible).</h4>
</div>

<div class="container mt-5">
    {{> _navbar-logo-dropdown-dark src="img/logo.svg" login="#" register="#" }}
</div>

<div class="container mt-5">
    {{> _navbar-logo-dropdown-light src="img/logo.svg" login="#" register="#" }}
</div>