<div class="container mt-5">
    <h1>1.Navbars</h1>
    <h4>1.1 Navbar containing a single element, a centered logo.</h4>
</div>

<div class="container mt-5">
    {{> _navbar-1 src="img/logo.svg" }}
</div>

<div class="container mt-5">
    <h4>1.2 Navbar with left aligned logo right aligned dropdown menu (icon).</h4>
</div>

<div class="container mt-5">
    {{> _navbar-2 src="img/logo.svg" }}
</div>

<div class="container mt-5">
    <h4>1.3 Navbar with left aligned logo and right aligned dropdown menu (user image).</h4>
</div>

<div class="container mt-5">
    {{> _navbar-3 src="img/logo.svg" }}
</div>

<div class="container mt-5">
    <h4>1.3 Navbar with left aligned logo and right aligned dropdown menu (user image).</h4>
</div>

<div class="container mt-5">
    {{> _navbar-4 src="img/logo.svg" }}
</div>

<div class="container mt-5">
    <h4>1. Color variants for the Navbar</h4>
</div>

<div class="container mt-5">
    {{> _navbar-colors src="img/logo.svg" }}
</div>