<div class="container mt-3">
  <h1>Dialogs</h1>
</div>

<div class="container mt-3">
    <h4>5.1. Modal</h4>
    <div class="text-center">
        {{> _dialog-modal }}
    </div>
</div>

<div class="container mt-3">
    <h4>5.2. Popover</h4>
    <div class="text-center">
        {{> _dialog-popover }}
    </div>
</div>