<div class="container mt-3">
    <h1>3.Containers</h1>
</div>

<div class="container mt-3">
    <h4>3.1. Jumbotron</h4>
    {{> _container-jumbotron }}
</div>

<div class="container mt-3">
    <h4>3.2. ListGroup</h4>
    {{> _container-listgroup }}
</div>

<div class="container mt-3">
    <h4>3.3. ListGroup with actions</h4>
    {{> _container-listgroup-actions }}
</div>

<div class="container mt-3">
    <h4>3.4. ListGroup items</h4>
    {{> _container-listgroup-items }}
</div>

<div class="container mt-3">
    <h4>3.5. Cards</h4>
    {{> _container-cards }}
</div>

<div class="container mt-3">
    <h4>3.6. Cards with borders</h4>
    {{> _container-cards-borders }}
</div>

<div class="container mt-3">
    <h4>3.7. Single card with content</h4>
    {{> _container-card }}
</div>