<div class="container">
  <h1>4. Forms</h1>
</div> 
<div class="container mt-3">
  <h4>4.1. Email form</h4>
  {{> _form-email }}  
</div>      

<div class="container mt-3">
  <h4>4.2. Password form</h4>
  {{> _form-password }}  
</div>   

<div class="container mt-3">
  <h4>4.3. Select form</h4>
  {{> _form-select }}  
</div>   

<div class="container mt-3">
  <h4>4.4. Select multiline form</h4>
  {{> _form-select-multiline }}  
</div> 

<div class="container mt-3">
  <h4>4.5. Textarea form</h4>
  {{> _form-textarea }}  
</div> 

<div class="container mt-3">
  <h4>4.6. Textarea form</h4>
  {{> _form-inputfile }}  
</div> 

<div class="container mt-3">
  <h4>4.7. Radiobuttons</h4>
  {{> _form-radiobuttons }}  
</div> 
        
<div class="container mt-3">
  <h4>4.8. Form Inputs</h4>
  {{> _form-inputs }}  
</div> 