{{!
    A group of radio-buttons.
    This block is for demonstration purposes. Use the elements below in other partials 
    but avoid using as is. 
}}

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" checked> Radio primary
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Radio secondary
    </label>
    <label class="btn btn-success">
        <input type="radio" name="options" id="option3"> Radio success
    </label>
    <label class="btn btn-info active">
        <input type="radio" name="options" id="option1" checked> Radio info
    </label>
    <label class="btn btn-warning">
        <input type="radio" name="options" id="option2"> Radio warning
    </label>
    <label class="btn btn-danger">
        <input type="radio" name="options" id="option3"> Radio danger
    </label>
</div>