{{!
    A group of buttons with color variations.
    This block is for demonstration purposes. Use the elements below in other partials 
    but avoid using as is. 
}}

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Button 1</button>
    <button type="button" class="btn btn-secondary">Button 2</button>
    <button type="button" class="btn btn-success">Button 3</button>
    <button type="button" class="btn btn-info">Button 4</button>
    <button type="button" class="btn btn-warning">Button 5</button>
    <button type="button" class="btn btn-danger">Button 6</button>
</div>