{{!
    Demonstration of button size.
    This block is for demonstration purposes. Use the elements below in other partials 
    but avoid using as is. 
}}
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary">Default button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>