{{!
    A checkbox component with multiple colors for each button.
    This block is for demonstration purposes. Use the elements below in other partials 
    but avoid using as is. 
}}

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="checkbox" checked> Checkbox primary
    </label>
    <label class="btn btn-secondary">
        <input type="checkbox" disabled> Checkbox secondary
    </label>
    <label class="btn btn-success">
        <input type="checkbox"> Checkbox success
    </label>
    <label class="btn btn-info">
        <input type="checkbox"> Checkbox info
    </label>
    <label class="btn btn-warning">
        <input type="checkbox"> Checkbox warning
    </label>
    <label class="btn btn-danger">
        <input type="checkbox"> Checkbox danger
    </label>
</div>