{{!
    A set of large buttons which fill the full width of their parent.
    This block is for demonstration purposes. Use the elements below in other partials 
    but avoid using as is. 
}}

<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-info btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-warning btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-danger btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-link btn-lg btn-block">Block level button</button>