{{!-- 
    A basic 404 page.
--}}
<!DOCTYPE html>
<html>
    <head>
        {{> _head }}
    </head>
    <body>
        {{> _navbar-1 src = "img/logo.svg" }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 mt-5 p-5 text-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);">
                    <h1 class="display-1">404</h1>
                    <p class="lead">The page you were looking for could not be found...</p>
                    <button type="button" class="btn btn-tertiary btn-lg">Return</button>
                </div>
            </div>
        </div>
    </body>
</html>