<!DOCTYPE html>
<html>
    <head>
        {{> _head }}
    </head>
    <body>
        {{!--
        {{> _buttons-all }}
        
        {{> _containers-all }}

        {{> _dialogs-all }}

        {{> _forms-all }}

        {{> _icons-all }}

        {{> _indicators-all }}
        --}}
        
        {{> _navbars-all }}

        {{!--
        {{> _navs-all }}

        {{> _progress-all }}

        {{> _tables-all }}

        {{> _typography-all }}
        --}}
        <script src="js/app.min.js"></script> 
        <script>
             $(function () {
                $('[data-toggle="popover"]').popover()
            })
         </script>
    </body>
</html>
