<!DOCTYPE html>
<html>
    <head>
        {{> _head }}
    </head>
    <body>
        <div class="wrapper">
            {{> _sidebar src="img/logo.svg" srcxp="img/logo-expanded.svg" }}
            <div id="content">
                <div class="navbar-header">
                    {{> _navbar-5 src="img/hbg.svg" }}
                </div>
                <div class="container-fluid p-4">
                    {{> _people-content }}
                </div>
                <div class="m-5">
                    {{> _slider }}
                </div>
            </div>
        </div>

        <script src="js/app.min.js"></script> 
        <!-- jQuery Custom Scroller CDN -->
         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>