<!DOCTYPE html>
<html>
    <head>
        {{> _head }}
    </head>
    <body>
        <div class="wrapper">
            {{> _sidebar }}
            <div id="content">
                <div class="navbar-header">
                    {{> _navbar-sample }}
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </div>
        </div>

        <script src="js/app.min.js"></script> 
        <!-- jQuery Custom Scroller CDN -->
         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>