<!DOCTYPE html>
<html>
    <head>
        {{> _head }}
        <style>
            #map { height: 400px; width: 100%; }
        </style>
    </head>
    <body>
        {{> _loader }}
        <div class="wrapper">
            {{> _sidebar src="img/logo.svg" srcxp="img/logo-expanded.svg" }}
            <div id="content">
                <div class="navbar-header">
                    {{> _navbar-5 src="img/hbg.svg" }}
                </div>
                <div>
                    <div id="map" class="bg-tertiary"></div>    
                    {{> _profile-1 src="img/p9.jpg" usr="Username 1"}}
                </div>
                <div class="container">

                <div class="container-fluid p-4">
                    <div class="row">
                        <div class="col-xl-4">
                            {{> _card-3 bg="img/bg1.png" }}
                        </div>
                        <div class="col-xl-4">
                            {{> _card-3 bg="img/bg2.png" }}
                        </div>
                        <div class="col-xl-4">
                            {{> _card-3 bg="img/bg3.png" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            {{> _card-3 bg="img/bg5.png" }}
                        </div>
                        <div class="col-xl-4">
                            {{> _card-3 bg="img/bg6.jpg" }}
                        </div>
                        <div class="col-xl-4">
                            {{> _card-3 bg="img/bg7.png" }}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <script src="js/app.min.js"></script> 
        <!-- jQuery Custom Scroller CDN -->
         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>

        <script type="text/javascript">
               $().ready(function(){
                    $('[rel="tooltip"]').tooltip();

                });

                function rotateCard(btn){
                    var $card = $(btn).closest('.card-container');
                    console.log($card);
                    if($card.hasClass('hover')){
                        $card.removeClass('hover');
                    } else {
                        $card.addClass('hover');
                    }
                }
         </script>

         <script>
             function initMap() { 
                var uluru = {lat: 51.556337, lng: -0.011374}; 
                var map = new google.maps.Map(document.getElementById('map'), { 
                    zoom: 15, 
                    center: uluru,
                    styles:
                    [
                        {
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#242f3e"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#746855"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                            {
                                "color": "#242f3e"
                            }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "featureType": "administrative.locality",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#d59563"
                            }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry.fill",
                            "stylers": [
                            {
                                "color": "#232b2e"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#d59563"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#263c3f"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#6b9a76"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#38414e"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.stroke",
                            "stylers": [
                            {
                                "color": "#212a37"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9ca5b3"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#746855"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [
                            {
                                "color": "#1f2835"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#f3d19c"
                            }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#2f3948"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#d59563"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#17263c"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                            {
                                "color": "#2c3e50"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#515c6d"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                            {
                                "color": "#17263c"
                            }
                            ]
                        }
                        ] 
                }); 
                var marker = new google.maps.Marker({ position: uluru, map: map }); 
            }
         </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB7RqboXxUChmEBwExKCSKxv0kkEFGoSQ&callback=initMap"> </script>
</body>
</html>