{{!
    Dark Navbar with logo on the left and dropdown on the right.
    Is non-collapsible.

    Variables:
    - src: source for logo file
    - login: url for login
    - register: url to register
    
}}
<nav class="navbar navbar-dark bg-primary justify-content-between flex-nowrap flex-row">
    <a class="navbar-brand  float-left" href="#">
        <img src={{ src }} width="30" height="30" alt="">
    </a>
    <div class="dropdown show flex-row float-right">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href={{ login }}>Login</a>
        <a class="dropdown-item" href={{ register }}>Register</a>
    </div>
    </div>
</nav>