{{!
    Navbar with centered logo.
    Contains no elements and is non-collapsible.

    Variables:
    - src: source for logo file
    
}}
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>