{{!-- 
    Import this partial as close after the <body> tag as possible.
    Preferably right after. 
    Make sure that the loader script is added into the app.min.js 
    scripts as well.
--}}

<div class="loader"></div>