<div class="row mt-4">
    <div class="col-4">
        <h2 class="mdi mdi-message-text">14</h2>
    </div>
    <div class="col-4">
        <h1 class="text-center">Username54</h1>
    </div>
    <div class="col-4">
        <h2 class="text-right">65%</h2>
    </div>
</div>