@font-face {
    font-family: "alegreyasans";
    src: url(fonts/AlegreyaSans-Black.ttf) format('truetype');
    font-weight: black;
    font-style: black;
}
@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: thin;
}