/* 
    CSS for facebook user image on profile page.
*/

.avatar {
    position: relative;
    top: -100px;
    z-index: 99;
}

.profile-bar img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 0px 50px 0 rgba(0, 0, 0, 0.50);
}