/* 
    CSS for facebook user image on profile page.
*/

.avatar {
    border-radius: 110px;
    display: block;
    left: 27%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 360px;
}