/*
  Sidebar theme colors
*/
$background:  $outerspace;
$link-inactive: $shuttlegray;
$link-hover: $success;
$link-active: $white;

/*
  Sidebar size options
*/
$expanded-size: 250px;
$contracted-size: 90px;
$link-padding-side: 60px; 
$link-inbetween-padding: 20px;


.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: $expanded-size;
  max-width: $expanded-size;
  background: $background;
  color: $gray-500;
  transition: all 0.3s;
  
  &.active {
    min-width: $contracted-size;
    max-width: $contracted-size;
    text-align: center;
    
    .sidebar-header h3, #sidebar.active .CTAs {
      display: none;
    }
    
    .sidebar-header strong {
      display: block;
    }
    
    ul li a {
      padding: 20px 10px;
      text-align: center;
      font-size: 0.85em;
      i {
          margin-right:  0;
          display: block;
          font-size: 1.8em;
          margin-bottom: 5px;
      }
    }
    ul ul a {
        padding: 10px !important;
    }
    a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
  }
  
  ul li {
      a {
        color: $link-inactive;
        text-decoration: none;
        text-align: left;
        padding: $link-inbetween-padding $link-padding-side;
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        i {
            margin-right: 10px;
        }
      }
      a:hover {
          color: $link-hover;
          text-decoration: none;
      }
    }
  
  .sidebar-header {
      padding: 20px;
      background: $primary;
      strong {
        display: none;
        font-size: 1.8em;
    }
  }
  
  ul.components {
      padding: 15px 0;
  }
  ul li.active > a, a[aria-expanded="true"] {
    color: $link-active;
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 100px !important;
    background: $gray-800;
  }



  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}


/*
    Mediaqueries
*/
@media (max-width: 768px) {
  #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important ;
      
      &.active {
        margin-left: 0 !important;
      }
      
      .sidebar-header {
        h3, #sidebar .CTAs {
          display: none;
        }
        
        strong {
          display: block;
        }
      }
      
      ul li{
        a {
          padding: 20px 10px;
          
          span {
            font-size: 0.85em;
          }
          
          i {
            margin-right:  0;
            display: block;
            font-size: 1.3em;
          }
        }
      }
      ul ul a {
        padding: 10px !important;
      }
  }
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
      top: auto;
      bottom: 5px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }
  
  #sidebarCollapse span {
      display: none;
  }
}
