{{!-- 
    This partial contains a sidebar which can shrint to an iconbar. On medium and large screens
    it is possible to toggle between a sidebar and iconbar. On small screens the toggling reveals or hides 
    the iconbar only. The functionality remains the same.

    Useage: The partial must be positioned inside a <div class="wrapper"> and the content must be 
    positioned inside a <div class="content"> as such:
        
    <div class=wrapper>
        {{> _sidebar }}
        <div class="content">
            <p>here goes all content</p>
        </div>
    </div>

    The sidebar is activated by any button containing the id="sidebarCollapse"
    The script below must be included wherever the sidebar is added:

        <script type="text/javascript">
             $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                });
            });
        </script>

    Source: https://bootstrapious.com/p/bootstrap-sidebar 
--}}

<nav id="sidebar">
    <div class="sidebar-header">
        <img class="small mx-auto" src={{ src }} width="30" height="30" alt="E">
        <img class="large mx-auto" src={{ srcxp }} width="200" height="30" alt="Epitome">
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="mdi mdi-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="index.html">Variant 1</a></li>
                <li><a href="index2.html">Variant 2</a></li>
                <li><a href="index3.html">Variant 3</a></li>
            </ul>
        </li>
        <li>
            <a href="people.html">
                <i class="mdi mdi-account-multiple"></i>
                People
            </a>
            </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="mdi mdi-book-open-page-variant"></i>
                Posts
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="posts.html">Default</a></li>
                <li><a href="posts2.html">Masonry</a></li>
            </ul>
        </li>
        <li>
            <a href="store.html">
                <i class="mdi mdi-cart"></i>
                Store
            </a>
        </li>
        <li>
            <a href="item.html">
                <i class="mdi mdi-plus-circle"></i>
                Item
            </a>
        </li>
        <li>
            <a href="contact.html">
                <i class="mdi mdi-phone-plus"></i>
                Contact
            </a>
        </li>
    </ul>
</nav>